body, ul, h1, h2, p, li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 940px;
  box-sizing: border-box;
  margin: 0px auto;
  border: 1px solid red;
}

img {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;  
}

.header img {
  display: block;  
  width: 150px;  
}

.menu {
  display: flex;  
}

.menu li {
  list-style: none;  
  padding: 0px 10px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 20px;  
  color: #333;
  font-weight: 700;  
  /* border: 1px solid red; */
}

.section-1 {
  background: url('../img/bg-header.svg') no-repeat;
  background-size: cover;
  padding-top: 40px;
  border: 1px solid red;
}

.align-center {
  text-align: center;
}

.section-1 h2 {  
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
  border: 1px solid red;
}

.section-1 p {
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: #5524cf;
}

.section-1 img {
  margin: 0 auto -150px auto;
}

.section-2 {
  border: 1px solid red;
  background-color: #0e0427;
  padding-top: 250px;
  padding-bottom: 150px;
  
}

.section-2 .container {
  display: flex;
  gap: 20px;
}

.container-item {
  padding: 30px;
  border-radius: 12px;
  background: #fff;
}

.container-item img {
  width: 60px;
}

.container-item h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px; 
}

.container-item p {
  color: #333;
}