body, ul, h1, h2, p, li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

li {
  list-style: none;
}

.c-container--global {
  max-width: 940px;
  box-sizing: border-box;
  margin: 0px auto;  
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;  
}

.c-header__imagem {
  display: block;  
  width: 150px;  
}

.c-menu {
  display: flex;  
}

.c-menu li {  
  padding: 0px 10px;
}

.c-menu a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 20px;  
  color: #333;
  font-weight: 700;    
}

.c-align-center--global {
  text-align: center;
}

.c-section-1 {
  background: url('../img/bg-header.svg') no-repeat;
  background-size: cover;
  padding-top: 40px;  
}

.c-section-1__h2 {  
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;  
}

.c-section-1__p {
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: #5524cf;
}

.c-section-1__imagem {
  margin: 0 auto -150px auto;
}

.c-section-2 {  
  background-color: #0e0427;
  padding-top: 250px;
  padding-bottom: 150px;  
}

.c-section-2__container {
  display: flex;
  gap: 20px;  
}

.c-section-2__container-item {
  padding: 30px;
  border-radius: 12px;
  background: #fff;
}

.c-section-2__imagem {
  width: 60px;
}

.c-section-2__h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px; 
}

.c-section-2__titulo {
  margin-top: 80px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;  
}

.c-section-2__p {
  color: #333;
}

.c-section-3__container-item {
  margin-top: -100px;
}

.c-section-3__list {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);  
  gap: 16px;
}

.c-section-3__imagem {
  display: block;
  max-width: 100%;  
}

.c-section-4 {
  padding: 80px 0px;
  background: url('../img/bg-header.svg') no-repeat;
  background-size: cover;    
}

.c-section-4__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.c-section-4__p {
  font-size: 1.25rem;
  padding: 50px;
}

.c-section-4__icon-sociais {
   display: flex;   
   margin: 0 auto;     
}

.c-section-4__imagem {  
  width: 18px;
}

.c-section-4__link-block {
  width: 45px;
  height: 45px;
  color: #333;
  background-color: #5524cf;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}